<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event id="main" >
		<image id="button1" pos="0.214802,0.364568" src="menubutton1" zpos="0" target="X_Count20_S1" parm="event1" />
		<image id="button2" pos="0.443829,0.363556" src="menubutton2" zpos="0.001" target="X_Count20_S2" parm="event2" />
		<image id="button3" pos="0.672855,0.363358" src="menubutton3" zpos="0.002" target="X_Count20_S3" parm="event3" />
		<image id="button4" pos="0.172085,0.676539" src="menubutton4" zpos="0.003" target="X_Count20_S4" parm="event4" />
		<image id="button5" pos="0.384933,0.676656" src="menubutton5" zpos="0.004" target="X_Count20_S5" parm="event5" />
		<image id="button6" pos="0.597782,0.676987" src="menubutton6" zpos="0.005" target="X_Count20_S6" parm="event6"/>

    <image id="button7" pos="0.810631,0.676356" src="menubutton7" zpos="0.006" target="X_Test" parm="X_Test"/>

    </event>
</events>